body {
  background: none;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#volumeControl {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #0a0a23;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in;
}

#volume {
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #feac32, #ffac33);
  outline: none;
  opacity: 0.7;
  transition: background 0.3s, opacity 0.3s;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #feac32;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#volume::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #feac32;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#volume::-webkit-slider-thumb:hover {
  background-color: #ff8c00;
  transform: scale(1.1);
}

#volume::-moz-range-thumb:hover {
  background-color: #ff8c00;
  transform: scale(1.1);
}

#volume::-webkit-slider-thumb:active {
  background-color: #e67300;
  transform: scale(1.05);
}

#volume::-moz-range-thumb:active {
  background-color: #e67300;
  transform: scale(1.05);
}

#header {
  position: absolute; /* Fixa o header no topo da tela */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(10, 10, 35, 0.8); /* Fundo semi-transparente para destacar o título */
  color: #feac32; /* Cor do texto do título */
  text-align: center;
  padding: 20px;
  z-index: 1; /* Garante que o header fique acima dos outros elementos */
}

#header h1 {
  font-size: 3rem; /* Tamanho do texto do título */
  margin: 0; /* Remove margens padrão */
  font-family: 'Press Start 2P', cursive; /* Fonte estilizada, como mencionou */
}

/* Estilo para o menu inicial */
#startMenu {
  position: absolute; /* Posiciona o menu no centro da tela */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #feac32;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#startMenu h1 {
  margin-bottom: 20px;
}

#startMenu form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startMenu input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #feac32;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

#startMenu button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #feac32;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#startMenu button:hover {
  background-color: #ff8c00;
}

#background {
  position: fixed; /* Use fixed para que o fundo permaneça fixo ao rolar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Images/background.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Certifique-se de que está atrás de outros elementos */
}

#registrationContainer {
  background-color: rgba(10, 10, 35, 0.8); /* Fundo semi-transparente */
  color: #ffffff; /* Cor do texto */
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 100px; /* Ajuste para ficar abaixo do header */
  max-width: 500px;
  width: 100%;
}

#registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#registrationForm label, #registrationForm input, #registrationForm select, #registrationForm button {
  margin-bottom: 10px;
  font-size: 1.2em;
}

#registrationForm input[type="text"],
#registrationForm select {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #feac32;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 15px;
}

#registrationForm button {
  padding: 10px 20px;
  background-color: #feac32;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

#registrationForm button:hover {
  background-color: #ff8c00;
}

#playerInfo {
  position: fixed;
  top: 150px; /* Ajuste conforme necessário */
  width: 30%;
  background-color: rgba(10, 10, 35, 0.8);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#playerInfo p {
  margin: 5px 0;
  font-size: 18px;
}


#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px); /* Ajusta a altura do contêiner do jogo */
  margin-top: 120px; /* Ajuste conforme a altura do #playerInfo */

}

#game {
  max-width: 600px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#text, #narrative {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  animation: fadeIn 1s ease-in;
}

@keyframes buttonClick {
  0% { transform: scale(1); }
  50% { transform: scale(0.95); }
  100% { transform: scale(1); }
}

#controls, #stats {
  border: 1px solid #0a0a23;
  color: #0a0a23;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

#monsterStats {
  border: 1px solid #0a0a23;
  padding: 10px;
  color: #ffffff;
  background: #c70d0d;
  display: none;
  border-radius: 10px;
  margin-top: 10px;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: pulse 1.5s infinite;
}

button:hover {
  background-color: #ff8c00;
  transform: scale(1.1);
}

button:active {
  background-color: #e67300;
  transform: scale(1.05);
  animation: buttonClick 0.1s;
}

button:focus {
  outline: none; /* Remove o contorno padrão */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); /* Adiciona uma leve sombra para indicar foco */
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@media (max-width: 768px) {
  #game {
    padding: 10px;
  }
  #volumeControl {
    margin-top: 5px;
  }
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

#footer {
  position: fixed; /* Fixa o rodapé na parte inferior da tela */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(10, 10, 35, 0.8); /* Cor de fundo similar ao header */
  color: #feac32; /* Cor do texto */
  text-align: center;
  padding: 10px;
  font-size: 0.9rem; /* Tamanho da fonte do rodapé */
  z-index: 1; /* Garante que o rodapé fique acima de outros elementos */
}

#footer p {
  margin: 5px 0; /* Adiciona um pequeno espaçamento entre os parágrafos */
}